/* ---Title: Stylesheet Template | Author: Simone ---*/

body {
	background: #efefef;
	font-size: 16px;
	margin:0;
}

a  {
	color:blue;
	text-decoration:none;
}

a:hover {
	color: lightblue;
}


/* Layout 
---------------------------*/

header,
.container,
footer {
	margin: 0 auto;
	width: 88%;
	max-width:960px;
	padding-top:10px;
}

.wrapper{
	padding:1em 0;
	background: #fff;
}

/*Images --------------------*/

img {
	max-width:100%;
}

/* Filters -----*/

.grayscale {
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	filter:gray;
	transition: all 1s ease-in-out;
}

.grayscale:hover {
	-webkit-filter: grayscale(0);
	filter: grayscale(0);
	filter: none;
}

.blur {
	-webkit-filter: blur(3px);
	filter: blur(3px);
	transition: all 1s ease-in-out;
}

.blur:hover {
	-webkit-filter: blur(0px);
	filter: blur: blur(0px);
}

.sepia {
	-webkit-filter: sepia(100%);
	filter: sepia(100%);
	transition: all 1s ease-in-out;
}


.sepia:hover {
	-webkit-filter: sepia(0);
	filer: sepia(0);
}

.opacity {
	-webkit-filter: opacity(.4);
	filter: opacity(.4);
	transition: all 1s ease-in-out;
}

.opacity:hover {
	-webkit-filter: opacity(1);
	filter: opacity(1);
	transition: all 1s ease-in-out;
}

.invert {
	-webkit-filter: invert(.8);
	filter: invert(.8);
	transition: all 1s ease-in-out;
}

.invert:hover {
	-webkit-filter: invert(0);
	filter: invert(0);
	transition: all 1s ease-in-out;

}


/*-- Transformations --*/

.rotate:hover img {
	-webkit-transform: rotate(-10deg);
	transform: rotate(-10deg);
	transition: all 1s ease-in-out;
}

.skew:hover img {
	-webkit-transform: skew(5deg);
	transform: skew(5deg);
	transition: all 1s ease-in-out;
}

.scale:hover img {
	-webkit-transform: scale(.8);
	transform: scale(.8);
	transition: all 1s ease-in-out;
}
